:root {
    --header-primary-color: #DAE7F1;
    --header-third-color: #3C4CA3;
    --sec-col: #561B8B;
    --button-primary-color: #0066bc;
}


* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: transparent;
    /* Safari/Chrome */
    -webkit-focus-ring-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* alternativa */
}

body {
    overflow-x: hidden;
    flex-direction: column;
    padding-bottom: 200px;
    background-color: #fff;
    color: #000;
}

header {
    box-shadow: 0 0 10px var(--header-primary-color);
    width: 100vw;
    height: 150px;
    margin-bottom: 40px;
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--header-primary-color);
    position: relative;
}

header img {
    position: absolute;
    left: 5%;
    height: 90%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.center-x {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.first-btn {
    border-radius: 20px;
    padding: 13px;
    margin: 10px;
    /* border: solid red 2px; */
    min-width: 153px;
    border: none;
    background: var(--button-primary-color);
    color: white;
    transition: transform .3s cubic-bezier(.215, .61, .355, 1);
}

.first-btn:hover,
.card-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform .3s cubic-bezier(.215, .61, .355, 1);
}

.card-btn {
    border-radius: 10px 50px;
    padding: 13px;
    margin: 10px;
    /* border: solid red 2px; */
    width: 153px;
    border: none;
    background: var(--header-third-color);
    color: white;
}

.card {
    position: relative;
    display: flex;
    background-color: #E2E2E2;
    min-width: 200px;
    min-height: 300px;
    border-radius: 20px;
    padding: 30px;
    flex-direction: column;
}

.btn_card_argomenti {
    position: absolute;
    margin-top: 50px;
    bottom: 10px;
    width: 110px;
    height: 40px;
    border-radius: 10px 50px 10px 50px;
    transition: transform .3s cubic-bezier(.215, .61, .355, 1);
}

#home_link {
    border: solid 2px var(--header-third-color);
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    margin-bottom: 10px;
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
    color: black;
}

#home_link:hover {
    scale: 1.1;
    color: rgb(85, 85, 85);
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
}

/* INDEX.HTML */
span {
    width: 80%;
    height: 10px;
    border-radius: 30px;
    /* border: solid red 2px; */
    background-color: #D9D9D9;
    margin-bottom: 30px;
}

.cross {
    position: relative;
    display: inline-block;
}

.cross::before,
.cross::after {
    content: '';
    position: absolute;
    left: 0;
    top: 25px;
    width: 100%;
    height: 5px;
    background: red;
    border-radius: 2px;
}

.cross::before {
    transform: rotate(20deg);
}

.cross::after {
    transform: rotate(-20deg);
}


footer {
    background-color: #181818;
    /* border: solid red 2px; */
    color: white;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    padding-bottom: 5px;
    text-align: left;
    padding: 20px;
}


/* PAGINE */
#home {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    color: white;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px 0;
}

.card h5 {
    font-size: 20px;
    margin-bottom: 30px;
}

.esempi {
    margin-top: 40px;
    display: none;
}

.imgs {
    gap: 30px;
    margin-top: 30px;
}

img {
    max-width: 500px;
}

.visible {
    display: block;
}

.sito {
    margin-top: 40px;
}
.sito a {
    text-decoration: none;
    color: black;
    margin-top: 50px;
}

