:root {
    --orange: #ff751f;
    --blue: #0763b9;
    --text: #496592;
}
* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: transparent;
    /* Safari/Chrome */
    -webkit-focus-ring-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* alternativa */
}
body {
    overflow-x: hidden;
}
h1 {color: var(--text);}
.center{ 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#scriscia {
    /* border: solid red 2px; */
    width: 100vw;
    height: 200px;
    position: relative;
    top: 200px;
    background-color: var(--blue);
}
.bg-blu h1 {
    font-size: 4vw;
    /* border: solid red 2px; */
    height: 100%;
    width: 100%;
    color: white;
}
    .bg-blu {
        background-color: var(--white);
    }

#nav-circle {
    width: 400px;
    height: 400px;
    position: absolute;
    right: -55px;
    top: -200px;
    border-radius: 50%;
    background-color: var(--orange);
    flex-direction: column;
}
#nav-circle div {
    position: relative;
    top: 30px;
    /* border: solid red 2px; */
    max-width: 200px;
}
#nav-circle a{
    scale: 1;
    transition: scale .2s cubic-bezier(.215, .61, .355, 1);
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
#nav-circle a:hover{
    scale: 1.1;
    transition: scale .2s cubic-bezier(.215, .61, .355, 1);
}

header {
    overflow: visible !important;
    z-index: 10;
    position: fixed;
    background-color: var(--white);
    /* border: solid red 2px; */
}


.sito {
    border: solid red 2px;
    position
}

































footer {
    background-color: #181818;
    /* border: solid red 2px; */
    color: white;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    padding-bottom: 5px;
    text-align: left;
    padding: 20px;
}